profiles {


    // For local use
    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
    }

    // For use within the ComputeCanada cluster
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

}

process {
    // Fastqc process
    withName: 'FASTQC' {
        memory = 6.GB
        cpus = 1
    }

    // Trimming processes
    withName: 'TRIMMOMATIC' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'BBDUK' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'TRIM_GALORE' {
        memory = 2.GB
        cpus = 1
    }

    // Reference Genome Indexing processes
    withName: 'STAR_REFERENCE_INDEX' {
        memory = 7.GB
        cpus = 1
    }
    withName: 'HISAT2_REFERENCE_INDEX' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'SALMON_REFERENCE_INDEX' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'KALLISTO_REFERENCE_INDEX' {
        memory = 2.GB
        cpus = 1
    }

    // Alignment processes
    withName: 'STAR' {
        memory = 7.GB
        cpus = 1
    }
    withName: 'HISAT2' {
        memory = 2.GB
        cpus = 1
    }

    // Samtools processes
    withName: 'SAM_TO_BAM' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'SORT_AND_INDEX_BAM' {
        memory = 2.GB
        cpus = 1
    }

    // Counting reads processes
    withName: 'HTSEQ_COUNT' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'FEATURE_COUNTS' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'SALMON_QUASI_MAPPING_MODE' {
        memory = 2.GB
        cpus = 1
    }
    withName: 'KALLISTO' {
        memory = 2.GB
        cpus = 1
    }

}
