profiles {

    // For local use
    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false

        process {
            withLabel: 'process_single' {
                memory = 2.GB
                cpus = 1
            }
            withLabel: 'process_low' {
                memory = 4.GB
                cpus = 1
            }
            withLabel: 'process_medium' {
                memory = 7.GB
                cpus = 1
            }
            withLabel: 'process_high' {
                memory = 7.GB
                cpus = 1
            }
        }
    }

    // For use within the ComputeCanada cluster
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false

        process {
            withLabel: 'process_single' {
                memory = 6.GB
                cpus = 1
            }
            withLabel: 'process_low' {
                memory = 12.GB
                cpus = 2
            }
            withLabel: 'process_medium' {
                memory = 36.GB
                cpus = 6
            }
            withLabel: 'process_high' {
                memory = 72.GB
                cpus = 12
            }
        }
    }

}
